<!DOCTYPE html>
<html>
  <head>
    <title>fib</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (fibCacheInstance) { %>
    <h2> Fib Array Cache Size <%= fibCacheInstance.cacheObject.length %></h2>
	<% } %>
    
    <ul>
	<% for(var i=0; i<fibCacheInstance.cacheObject.length; i++) {%>
   	<li><%= fibCacheInstance.cacheObject[i] %></li>
	<% } %>
	</ul>
      
      
  </body>
</html>
