<!DOCTYPE html>
<html>
  <head>
    <title>fib</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>fib sample</h1>
    <h2>Application Features</h2>
    
 	<ul>
        <li><a href='http://localhost:3000/fib/22'>calculate the 22 index the fib series </a></li>
        <li><a href='http://localhost:3000/fibCache/22'>calculate the 22 index the fib series, with a simple array cache optimization </a></li>
   		<li><a href='/fibSequence/22'> get the full sequence in JSON </a></li>
        <li><a href='/fibcache/view'> a listing of current values in the array cache </a></li>
    </ul>
    

    <h2>Developer Tools</h2>
 	<ul>
      	<li><a href='http://localhost:3001/'> Code Editor </a></li>
      	<li><a href='http://127.0.0.1:8080/debug?port=5858'> Debugger </a></li>
   		<li><a href='http://nodefly.com/ops/dashboard#08648b094b73b1daefacb10debd00a10/ll/1h/cpu,tiers'> Strong-Opts Console </a></li>
    </ul>
    
    <h2>Deploy Tools</h2>
 	<ul>
      	<li><a href='http://localhost:2000/'> Code Editor </a></li>
      	<li><a href='http://localhost:2000/'> Debugger </a></li>
   		<li><a href='http://nodefly.com/ops/dashboard#08648b094b73b1daefacb10debd00a10/ll/1h/cpu,tiers'> Strong-Opts Console </a></li>
    </ul>
    
  </body>
</html>